/* .fullbackground{
    background-image: url('https://img.freepik.com/free-vector/blue-smooth-flowing-dynamic-wave-background_1017-33405.jpg?size=626&ext=jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat
} */